header.header
  .container
    .row.align-items-center
      .col-3
        .inner-logo
          a(href='/')
            img(src='/images/logo.svg', alt="logo")
      .col-9
        .inner-menu
          ul.list_menu
            li
              a(href='/') Trang chủ
            li
              a(href='/products') Sản phẩm
            li
              a(href='/about') Giới thiệu
            li
              a(href='/contact') Liên hệ
